.nav-icon{
    width: 160px;
    height: 55px;
}

.nav-link:active{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.carousel-text{
    color: white;
    font-weight: 700;
    text-align: center;
}

.carousel-text-box{
    position: absolute;
    height: 50%;
    width: 50%;
    right: 0;
    top: 45%;
}

.carousel-text-box2{
    position: absolute;
    height: 50%;
    width: 50%;
    top: 45%;
}

.main-text{
    text-align: center;
}
.main-text-second{
    text-decoration: underline;
    text-underline-offset : 10px;
    margin-bottom: 30px;
}

.main-text-third{
    text-decoration: underline;
    text-underline-offset : 10px;
    margin-bottom: 30px;
    margin-top: 50px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-first{
    display: flex;
}

.sns{
    color: white;
    font-size:x-large;
    margin-right: 20px;
}

.footer-first-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

.footer-first-right a{
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.footer-first-right a:hover{
    text-decoration: underline;
}

.footer-second{
    display: flex;
    justify-content: space-between;
}

.footer-second-right{
    text-align: right;
}

@media(max-width:1000px){
    .footer-second{
        display:none;
    }
    .footer-first{
        display: block;
    }
    .footer-first-left{
        display: flex;
        justify-content: center;
    }
    .last{
        margin-right: 0px;
    }
    h5{
        margin-top: 20px;
        text-decoration: underline;
        text-underline-offset : 10px;
    }
    .footer-first-right{
        margin-left: 0px;
    }
}