.nav-icon{
    width: 160px;
    height: 55px;
}

.carousel-text{
    color: white;
    font-weight: 700;
    text-align: center;
}

.carousel-text-box{
    position: absolute;
    height: 50%;
    width: 50%;
    right: 0;
    top: 45%;
}

.carousel-text-box2{
    position: absolute;
    height: 50%;
    width: 50%;
    top: 45%;
}

.main-text{
    text-align: center;
}
.main-text-second{
    text-decoration: underline;
    text-underline-offset : 10px;
    margin-bottom: 30px;
}

.main-text-third{
    text-decoration: underline;
    text-underline-offset : 10px;
    margin-bottom: 30px;
    margin-top: 50px;
}

footer{
    height: 500px;
    
}